<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sauce Demo Project">
    <test verbose="1" preserve-order="true" name="Sauce Demo Test">
        <classes>
            <class name="com.saucelabs.tests.sauceTest">
            </class>
        </classes>
    </test>
</suite>